@import "../all.sass";

.imageText {
    display: flex;
    margin: 50px 0;
    background-color: $gray-light;

    .imageTextImage {
        flex: 1 0 30%;
    }
    
    .imageTextText {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            color: $primary;
            font-weight: bold;
            margin-bottom:30px;
        }

        p {
            font-size: 20px;
        }
    }
}